allDomainUrlList.txt
allDomainUrlList.txt
allIPList.txt
scanResult
module_test.py
tt.html
login.py
test.log
login.py
allUserProjectDict.json
allUserProjectList.txt
__pycache__/tool.cpython-36.pyc
__pycache__/login.cpython-36.pyc
.vscode
__pycache__
